<p id="notice"><%= notice %></p>

<h1>新媒體新聞牆</h1>

<div class="container">
  <div class="row">
<div class="col-md-6">
    <div class='數位時代'>
       <% @degitalarticles.each do |article| %>
       <%= article.title %>
       <% end %>
    </div>
</div>
<div class="col-md-6">
    <div class='Insight'>
	   <h1>ＧＯＧＯ</h1>
    </div>
</div>
<div class="col-md-6">
    <div class='科技新報'>
	   <h1>ＧＯＧＯ</h1>
    </div>
</div>
<div class="col-md-6">
    <div class='科技報橘'>
	   <h1>ＧＯＧＯ</h1>
    </div>
</div>

</div>
</div>



