<footer class="container" style="margin-top: 100px;">
  <p class="text-center" style="text-align:center;">Copyright ©2017 John's web
    <br>Design by <a href="https://github.com/nick66551/" target=_new>JohnLiuTW</a>
  </p>
</footer>