// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.header-label{
    background-color: red;
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
p.pretext{
    font-size:1em;
}